{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Reset</title>
    <link rel="icon" href="{% static 'testapp/GW_1.png' %}"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'testapp/password_reset_confirm.css' %}"
    />
  </head>
  <body>
    <div class="form-container">
      <img
        src="{% static 'testapp/logo_reset.png' %}"
        alt=""
        class="form-img"
      />
      <h2>Change password</h2>
      <div class="form-wrap">
        {% if validlink %}

        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="form-submit">
            <input type="submit" value="Change Password" />
          </div>
        </form>
        {% else %}
        <p>
          The password reset link was invalid, possibly because it has already
          been used. Please request a new password reset.
        </p>
        {% endif %}
      </div>
    </div>
  </body>
</html>