{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Reset</title>
    <link rel="icon" href="{% static 'testapp/GW_1.png' %}"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'testapp/password_reset_complete.css' %}"
    />
  </head>
  <body>
    <div class="form-container">
      <img
        src="{% static 'testapp/logo_reset.png' %}"
        alt=""
        class="form-img"
      />
      <h2>Change password</h2>
      <div class="form-wrap">
        <p>
          Your password has been set. You may go ahead and
          <a style="color: #f7635b" href="{% url 'signin' %}">sign in</a> now.
        </p>
      </div>
    </div>
  </body>
</html>