{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Reset</title>
    <link rel="icon" href="{% static 'testapp/GW_1.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'testapp/reset.css' %}" />
  </head>
  <body>
    <div class="form-container">
      <img src="{% static 'testapp/logo_reset.png' %}" alt="" class="form-img" />
      <h2>Reset your Password</h2>
      <form action="" method="POST" class="form-wrap">
        {% csrf_token %}
        <p>
          Enter your user account's verified email address and we will send you
          a password reset link.
        </p>
        <div class="form-box">{{ form.as_p }}</div>
        <div class="form-submit">
          <input type="submit" value="Send" />
        </div>
      </form>
    </div>
  </body>
</html>