{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'testapp/mail.css' %}">
    <title>Video background</title>
</head>

<body>

    <section class="showcase">
        <video src="https://media.giphy.com/media/MdSRZNm3XlZ7D7oH2q/giphy.mp4" muted loop autoplay></video>
        <div class="text">
          <h2>Please wait....</h2>
          <p>
              The admin will look through your details and accept your request , hold on for a moment...
          </p>
        </div>
    </section>


</body>

</html>
