* {
    box-sizing: border-box;
}

input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#id_email {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

h2 {
    font-family: 'Raleway', sans-serif;
}
.hello {
    color: #333;

    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 72px;
    padding: auto;
    text-align: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.back_button {
    margin-top: 2%;
    background-color: #f7635b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
input[type='submit'] {
    margin-top: 2%;
    background-color: #f7635b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type='submit']:hover {
    background-color: #f7635b;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type='submit'] {
        width: 100%;
        margin-top: 2;
    }
}
