@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
    --first-color: #333;
    --second-color: #f7635b;
    --white-color: white;
}

/*===== Fuente y tipografia =====*/
:root {
    --body-font: 'Quicksand', sans-serif;
    --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
    :root {
        --small-font-size: 0.938rem;
    }
}

/*===== z index =====*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;

    font-family: var(--body-font);
    background-color: var(--white-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

h1 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*=====  NAV =====*/

.l-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    background-color: var(--first-color);
    padding: 1.25rem 0.5rem 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav {
    padding-top: 200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}

.nav__logo-icon {
    margin-right: 1.2rem;
}

.nav__logo-text {
    color: var(--white-color);
    font-weight: 700;
}

.nav__toggle {
    position: absolute;
    top: 7.5rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.4rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav__link:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.nav__text {
    font-weight: 700;
}

/*Show menu*/
.show {
    width: 250px;
}

/*Rotate toggle*/
.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*Active links menu*/
.active {
    background-color: var(--second-color);
    color: var(--first-color);
}

/*Add padding body*/
.expander {
    padding-left: 12rem;
    -webkit-transition: 0.5s;
    transition: 0.3s;
}

/* nav bar css*/

header {
    z-index: var(--z-modal);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 12% 20px 5%;
    background-color: #333;
}

.logo {
    margin-right: auto;
    height: 70px;
}

.cta {
    border-radius: 50%;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* Mobile Nav */

.menu {
    display: none;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #dc6862;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #333;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .nav__toggle {
        display: none;
    }
}

/* intro css */

.hero-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 4% 50px 12%;
}

.hero-copy-container {
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */

    display: flex;
    flex-flow: wrap;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;

    background-color: #fdfdfd;
    padding-left: auto;
}

.hello {
    height: 600px;
    width: 90%;
    padding: auto;
    margin-left: 5%;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 10px rgba(158, 68, 68, 0.3);
    overflow: scroll;
}

.paginator {
    margin-bottom: 50px;
}

.card-container {
    flex: 200px;
    margin: 30px;
}
.card-container .card {
    font-weight: bold;
    position: relative;
    width: 100%;
}
.card-container .card a {
    padding: 30px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
}
.card-container .card a:hover {
    border-color: #f7635b;
}
.card-container .card a:hover .card--display {
    display: none;
}
.card-container .card a:hover .card--hover {
    display: block;
}

.card-container .card a .card--display h2 {
    margin: 30px 0 0;
}
.card-container .card a .card--hover {
    display: none;
}
.card-container .card a .card--hover h2 {
    margin: -20px 0;
    font-weight: 100;
}
.card-container .card a .card--hover p {
    margin-top: 0px;
    padding-top: 0px;
    font-weight: normal;
    line-height: 1.2;
}

.card--border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px dashed black;
    z-index: -1;
}
.card-container .card.card--dark a {
    color: white;
    background-color: black;
    border-color: black;
}
.card-container .card.card--dark a .card--hover .link {
    color: #fde74c;
}

.cards {
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    top: 0;
    max-width: 300px;
    margin: auto;
}

.cards img {
    width: 100%;
}

/*mini profile*/

.cards h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--dark-gray);
}
.cards p {
    margin-bottom: 10px;
    color: #6d6d6d;
    font-size: 14px;

    color: grey;
    font-size: 18px;
}

.back {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.cards button {
    border: none;
    outline: 0;

    text-align: center;
    cursor: pointer;

    font-size: 18px;

    margin: 10px;
    padding: 19px 25px;
    background-color: #f7635b;
    border-radius: 50px;
    color: floralwhite;
    letter-spacing: 2px;
}
.cards button:hover {
    transition: all 0.3s ease 0s;
    background-color: #ecf5f5;
    color: #f7635b;
}

@media (max-width: 769px) {
    body {
        display: block;
        padding: 0;
    }

    .section-hero {
        height: auto;
        width: 100%;
        padding: 0 20px;
        grid-template-rows: 80px 1fr 80px;
    }

    .hero-wrapper {
        background-image: url(../down.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position-y: bottom;
        flex-direction: column;
        justify-content: center;
    }

    .back {
        display: none;
    }
    .cards button {
        margin-top: 40px;
    }
    .cards {
        order: 2;
        width: 90%;
    }

    .hero-copy-container {
        order: 1;

        width: 90%;
    }

    .hero-title {
        font-size: 20px;
    }
}
